<div class="row mb-2">
    <div class="col-sm-12">
        <h1>Settings</h1>
        {{!-- <h3 class="mt-5">Name</h3> --}}
        <hr>
    </div>
</div>
<div class="row mb-3">
    <div class="col-sm-3">
        <h5>Display Name:</h5>
    </div>
    <div class="col-sm-4 ">
        <h5 class="text-font-bold">{{session.displayname}}</h5>
    </div>
    <div class="col-sm-4">
        <a href="#" attr-field="displayname" attr-pretty="display name" attr-current="{{session.displayname}}" class="settings-edit"><i class="fas fa-edit"></i> Edit</a>
    </div>
</div>
<div class="row mb-3">
    <div class="col-sm-3">
        <h5>First Name:</h5>
    </div>
    <div class="col-sm-4 ">
        <h5 class="text-font-bold">{{session.firstname}}</h5>
    </div>
    <div class="col-sm-4">
        <a href="#" attr-field="firstname" attr-pretty="first name" attr-current="{{session.firstname}}" class="settings-edit"><i class="fas fa-edit"></i> Edit</a>
    </div>
</div>
<div class="row mb-3">
    <div class="col-sm-3">
        <h5>Last Name:</h5>
    </div>
    <div class="col-sm-4">
        <h5 class="text-font-bold">{{session.lastname}}</h5>
    </div>
    <div class="col-sm-4">
        <a href="#" attr-field="lastname" attr-pretty="last name" attr-current="{{session.lastname}}" class="settings-edit"><i class="fas fa-edit"></i> Edit</a>
    </div>
</div>
<div class="row mb-3">
    <div class="col-sm-3">
        <h5>E-Mail:</h5>
    </div>
    <div class="col-sm-4">
        <h5 class="text-font-bold">{{session.email}}</h5>
    </div>
</div>
<div class="row mt-5 mb-2">
    <div class="col-sm-12">
        <h3>Password</h3>
        <hr>
    </div>
</div>
<form class="row mb-5 mt-3" id="changePassForm">
    <div class="col-sm-3">
        <h5>Change Password</h5>
    </div>
    <div class="col-sm-3 mb-2 mt-2">
        <input class="form-control input-style" name="oldPassword" required="required" type="password" placeholder="Current Password">
    </div>
    <div class="col-sm-3 mb-2 mt-2">
        <input class="form-control input-style" name="newPassword" minlength="6" required="required" type="password" placeholder="New Password">
    </div>
    <div class="col-sm-3 mt-1">
        <button type="submit" href="#" class="d-inline change-button">Change</button>
    </div>
</form>

<script type="module" src="js/settings.js"></script>